@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap');

.fancy {
    font-family: "Playwrite US Trad Guides", cursive;
    font-weight: 400;
    font-style: normal;
    color: violet;
}

.green {
    background-color: palegreen;
    border-radius: 5px;
    box-shadow: 5px 5px 5px green;
}